.santas__bag {
  width: 220px;
  position: relative;
  margin: 0 auto;
  top: 240px;
}

.legs {
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 285.94 321.3' style='enable-background:new 0 0 285.94 321.3;' xml:space='preserve' %3E%3Cstyle type='text/css'%3E .pants %7B fill: %23af0000; %7D .pants-shadow %7B fill: %23920000; %7D .shoe %7B fill: %232b2b2b; %7D .pants-white %7B fill: %23ffffff; %7D .pants-white-shadow %7B fill: %23b5b5b6; %7D .shoe-shadow %7B fill: %23262626; %7D %3C/style%3E%3Cpath class='pants' d='M69.06,107.3c0,0-41.53,58.24-41,89c0.54,31.5,13.39,57,28,86c9.34,18.55,21,35,21,35l147,4 c0,0,13.24-19.43,24-43c18.03-39.49,27.92-61.13,27-89c-1.01-30.74-48-86-48-86l-44,12c0,0,18.85,34.48,19,73 c0.03,6.98,0.15,37.44-22,53c-18.03,12.66-43.97,10.66-61-1c-25.61-17.55-25.1-52.9-25-60c0.5-34.8,17.79-63.99,17.79-63.99 L69.06,107.3z' /%3E%3Cpath class='pants-shadow' d='M65.7,107.52c0,0-34.89,63.14-37.04,81.21c-5.73,48.11,41,128.35,41,128.35l19.83-0.52 c0,0-39.4-41.65-41.52-98.09C45.92,164.09,76.65,111,76.65,111L65.7,107.52z' /%3E%3Cpath class='pants-shadow' d='M186.67,122.61c0,0,15.3,38.34,15.39,65.7c0.06,17.5-3,41.04-18.93,52.22c-2.92,2.05-8.3,5.19-7.83,6.26 c0.61,1.38,10.92-0.92,18.26-4.7c19.39-9.98,25.24-33.98,27.13-41.74c0,0,4.24-17.38-6.78-55.83c-0.49-1.71-5.76-23.92-8.9-26.01 C200.76,115.67,186.67,122.61,186.67,122.61z' /%3E%3Cpath class='shoe' d='M180.06,109.3l-23-77l38.85-8.94l2.47,5.42l10.19-8.44L268.06,0c0,0,8.59,15.58,15,26.3 c7.3,12.2-0.23,34.64-12,38c-21,6-19.88-9.05-41.94-10.15c-2.94-0.15-17.53-0.65-20.06,6.15c-2.77,7.44,18,38,18,38L180.06,109.3z' /%3E%3Cpath class='shoe' d='M119.06,111.3l18-75l-36.45-9.8l-2.64,7.93L92,24.19L18.06,4.3c0,0-16.82,17.74-18,37 c-1.07,17.5,11.18,28.9,27.99,35c7.36,2.67,18.01,4,29.01-11c5.61-7.65,25.48,0.17,27,1.43L73.44,100.2L119.06,111.3z' /%3E%3Cpath class='pants-white' d='M75.93,87.91l40.91,9.52c0,0,10,4.23,6.14,18.67c-3.94,14.77-16.34,12.68-16.34,12.68l-37.53-11.4 c0,0-13.05-2.09-7.69-22.21C64.2,84.78,75.93,87.91,75.93,87.91z' /%3E%3Cpath class='pants-white' d='M181.38,101.03l39.37-14.63c0,0,10.67-1.99,15.43,12.19c4.86,14.49-6.63,19.59-6.63,19.59l-37.59,11.2 c0,0-12.04,5.46-18.67-14.29C169.87,104.89,181.38,101.03,181.38,101.03z' /%3E%3Cpath class='pants-white-shadow' d='M184.26,100.15c-2.49,4.33-3.93,11.65-1.2,17.11c4.11,8.22,12.79,10.94,12.79,10.94s-15.69,8.18-21.47-7.1 C166.85,101.22,184.26,100.15,184.26,100.15z' /%3E%3Cpath class='pants-white-shadow' d='M78.76,88.57c-7.88-1.17-14.82-4.44-18.62,9.06c-1.91,6.78-4.23,15.46,12.68,20.88c0,0-7.56-10.26-5.95-15.2 C69.71,94.63,71.17,90.39,78.76,88.57z' /%3E%3Cpath d='M18.06,4.3c0,0-18.08,18.65-18,37c0.06,13.13,2.96,25.48,19.02,30.98c7.47,2.56-5.67-15.41-5.11-27.41 C14.78,27.72,36.06,9.88,36.06,9.88L18.06,4.3z' /%3E%3Cpolygon class='shoe-shadow' points='157.06,32.3 177.34,102.93 190.67,97.57 172.66,28.78 ' /%3E%3C/svg%3E") no-repeat;
  animation: legs-rotation 3s infinite;
  transform: scale(0.8);
  position: absolute;
  left: 210px;
  height: 50%;
  width: 50%;
  bottom: 140px;
}

.present-bag {
  background-color: rgb(102, 61, 28);
  height: 150px;
  width: 220px;
  border-radius: 80px 80px 50px 50px;
  box-shadow: inset 10px 0 0 rgb(88, 51, 21);
  z-index: 1;
  margin: 0 auto;
}

.bag-upper {
  background-color: rgb(102, 61, 28);
  box-shadow: inset 10px 0 0 rgb(88, 51, 21);
  height: 40px;
  width: 170px;
  margin: 0 auto;
  border-radius: 10px 10px 40px 40px;
  position: relative;
  top: 10px;
}

.bag-cord {
  width: 180px;
  height: 20px;
  background-color: rgb(11, 128, 0);
  box-shadow: inset 10px 0 0 rgb(8, 102, 0);
  border-radius: 7px;
  position: relative;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  top: 60px;
}

.elf {
  background: url('../img/elf.svg') no-repeat;
  height: 240px;
  width: 100px;
  animation: elf-appear 6s ease-in-out;
  animation-delay: 6s;
  position: absolute;
  transform: rotate(50deg);
  z-index: 0;
  bottom: -60px;
  left: 290px;
}

.elf-eyes {
  width: 30px;
  position: relative;
  top: 70px;
  left: 36px;
}

.elf-eye-left {
  height: 10px;
  width: 4px;
  border-radius: 10px;
  background-color: #000000;
  float: left;
}

.elf-eye-right {
  animation: eye-wink 2s ease-in-out;
  animation-delay: 7.5s;
  height: 10px;
  width: 4px;
  border-radius: 10px;
  background-color: #000000;
  float: right;
}

@keyframes legs-rotation {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  10% {
    transform: rotate(-3deg) translateY(2px) scale(0.8);
  }
  30% {
    transform: rotate(3deg) translateY(4px) scale(0.8);
  }
  50% {
    transform: rotate(-3deg) translateY(3px) scale(0.8);
  }
  70% {
    transform: rotate(3deg) translateY(2px) scale(0.8);
  }
  100% {
    transform: rotate(0deg) scale(0.8);
  }
}
@keyframes elf-appear {
  0% {
    transform: rotate(50deg);
  }
  30% {
    transform: rotate(40deg) translateY(-120px);
  }
  60% {
    transform: rotate(40deg) translateY(-120px);
  }
  100% {
    transform: rotate(50deg) translateY(0px);
  }
}

@keyframes eye-wink {
  0% {
  }
  30% {
    transform: scaleY(0.3);
  }
  60% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}
