.buttons__container {
    position: absolute;
    top: 180px;
    display: flex;
}

.button {
    border: none;
    position: relative;
    width: 200px;
    height: 45px;
    margin: 0 25px;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 700;
    text-shadow: 0px 1px 0px grey;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button:active {
	position:relative;
	top:1px;
}

.button:hover {
  cursor: pointer;
}

.polite__button, .thanks__button {
    box-shadow: inset 0px 2px 0 rgb(0, 146, 0);
    background:rgb(0, 116, 0); 
}

.polite__button:hover {
    background-color: rgb(0, 146, 0);

}

.rude__button {
    background-color: #920000;
    box-shadow: inset 0px 2px 0 #af0000;
}

.rude__button:hover {
    background-color: #af0000;
}

.another-gift__button {
    background-color: #e78300;
    box-shadow: inset 0px 2px 0 #cf5d00;
}

.start__button {
    background-color: #af0000;
    margin: 0 auto;
    box-shadow: inset 0px 2px 0 #cf5d00;
}

.start__button:hover {
  background-color: #920000;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }